<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/cancellations">Database</a></li>
      <li><a href="/submissions">Submissions</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="https://github.com/CanceledPeopleOrg/canceledpeople.org" target="_blank">GitHub ❤️</a></li>
    </ul>
  </div>
</footer>
