<!DOCTYPE html>
<head>
  <title>Canceled People</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <!-- This icon was sourced from
  https://www.vecteezy.com/vector-art/10036346-illustration-of-law-concept-with-the-hammer-judge-icon-clipart-in-flat-vector-logo
  -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script>
    const host = "canceledpeople.org";
    if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
  </script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<div class="mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <nav>
        <a href=/ class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Home</a>
        <a href=/cancellations/ class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Database</a>
        <a href=/submissions/ class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Submissions</a>
        <a href=/about/ class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">About</a>
      </nav>
    </div>
  </header>
</div>

<script>
// OK this is kind of a hack. For some reason `mdl-js-button` clicks aren't
// working well on mobile, and this "fixes" that, albeit with a heavy hand.
function handleClick(e) {
  if (e.target.parentNode.href)
    location.href = e.target.parentNode.href;
}
window.onload = e => {
  const buttons = Array.from(document.querySelectorAll('a.mdl-js-button'));
  for (const button of buttons) {
    button.addEventListener('click', handleClick, {capture: true});
    button.addEventListener('touchend', handleClick, {capture: true});
  }
}
</script>
