<!DOCTYPE html>
<head>
  <title>Canceled People</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
</head>

<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <nav>
      <a href=/ class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Home</a>
      <a href=/cancellations class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Database</a>
      <a href=/submissions class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Submissions</a>
      <a href=/about class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">About</a>
    </nav>
  </div>
</header>
