<%- include('../header.ejs') -%>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">
  <main id=main class="mdl-layout__content">
    <h2>Database</h2>
    <section id=section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"></section>
  </main>
</div>

<!-- The copy link toast is defined before the JavaScript below, since the
JavaScript below references the toast. -->
<div id="copy-link-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <!-- This must exist, even though it is not used -->
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<script type=module src=/js/generate-table.mjs></script>

<%- include('../footer.ejs') -%>
